.book-header{
    @extend .landing-header;
    margin-bottom: 0;
    h1{
        font-size: 5em;
        @include responsive(phone){
            font-size: 1.8em;
        }
    }
    span{
        position: relative;
        top: -2px;
        left: -195px;
        @include responsive(phone){
            top: 0px;
            left: -27px;
            font-size: .7em;
        }
    }
}
.book-main{
    display: flex;
    align-items: center;
    flex-direction: column;
    .book-search{
        width: 70vw;
        h1{
            font-weight: 600;
            @include responsive(phone){
                font-size: 1.5rem;
            }
        }
        .input-group{
            input{
                height: 2.5rem;
                @include responsive(phone){
                    height: calc(1.5em + .75rem + 2px);
                }
            }
        }
    }
    .leaderboard{
        width: 70vw;
        .btn-leaderboard{
            width: 100%;
            background-color: rgb(119, 76, 62);
            border: 1px solid rgb(65, 41, 34);
            color: white;
            border-radius: 1rem;
            &:hover{
                background-color: rgb(199, 157, 143);
                color: white;
                border: 2px solid rgb(235, 219, 214);
            }
        }
    }
    .book-list{
        width: 70vw;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 4rem;
        .card{
            background-color: white;
            margin: 1rem .5vw;
            width: 15.8rem;
            border-radius: .3rem;
            position: relative;
            @include responsive(phone){
                width: 100%;
                border-radius: .5rem;
            }
            .card-img{
                height: 334px;
                width: 100%;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                border-top-right-radius: .3rem;
                border-top-left-radius: .3rem;
                @include responsive(phone){
                    border-top-right-radius: .5rem;
                    border-top-left-radius: .5rem;
                }
            }
            .card-body{
                margin-top: 1rem;
                padding: 1rem 2rem 2rem 1rem;
                h5{
                    margin-bottom: 0;
                }
                span{
                    display: block;
                    font-size: .8rem;
                    color: rgb(131, 114, 114);
                }
                .like{
                    color: rgb(196, 87, 87);
                    position: absolute;
                    bottom: 20px;
                    right: 20px;
                    font-size: 1.5rem;
                    z-index: 1;
                    user-select: none;
                    cursor: pointer;
                    &:hover{
                        transform: scale(1.2);
                    }
                }
                .flying-like{
                    position: absolute;
                    bottom:  13px;
                    right: 20px;
                    display: flex;
                    align-items: center;
                    opacity: 0;
                    .like-number{
                        color: rgb(196, 87, 87);
                        font-size: 1.5rem;
                        margin-right: .3rem;
                    }
                    .like-full{
                        color: rgb(196, 87, 87);
                        font-size: 1.5rem;
                    }
                    &.show{
                        animation: plusShow .6s ease-in;
                        @keyframes plusShow {
                            40%{
                                opacity: 1;
                                right: 44px;
                            }
                            60%{
                                opacity: 1;
                                right: 56px;
                            }
                            100%{
                                right: 80px;
                                opacity: 0;
                            }
                        }
                    }
                }
            }
        }
    }
    .modal-body{
        .leaderboard-card{
            display: flex;
            padding: .5rem;
            margin: .5rem;
            width: 100%;
            border-radius: .25rem;
            background-color: green($color: #a7cc9c);
            position: relative;
            align-items: center;
            .leaderboard-img{
                width: 50px;
                height: 50px;
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
            }
            .leaderboard-title{
                margin-left: .5rem;
                font-size: 1.5em;
            }
            .leaderboard-like{
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                right: .7rem;
                span{
                    font-size: 1.5em;
                    &.material-icons{
                        color: rgb(196, 87, 87);
                    }
                }
            }
        }
    }
}