.landing-header{
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include responsive(phone){
        height: 15vh;
        margin-bottom: 1rem;
    }
    h1{
        margin: 0;
        font-weight: 700;
        font-size: 5.5em;
        @include responsive(phone){
            font-size: 2em;
        }
    }
    h2{
        font-size: 1.3rem;
        font-weight: 700;
        margin-bottom: 0;
        @include responsive(phone){
            font-size: 1rem;
        }
    }
    span{
        @include responsive(phone){
            font-size: .7em;
        }
    }
}
.landing-body{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;
    .story-link-list{
        width: 70vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        @include responsive(phone){
            width: 90vw;
        }
        .story-link{
            cursor: pointer;
            width: 100%;
            height: 150px;
            background-color: rgb(255, 255, 255);
            border: 1px solid rgb(230, 221, 207);
            border-radius: 25pxpx;
            box-shadow: -15px 14px 0 -2px rgba($color: #744f4f, $alpha: 1.0);
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin: 1rem;
            transition: .2s all ease-in-out;
            @include responsive(phone){
                height: 100px;
                box-shadow: -9px 11px 0 -2px #744f4f;
                
            }
            h3{
                font-weight: 900;
                font-size: 3em;
                @include responsive(phone){
                    font-size: 1.5em;
                }
            }
            span{
                @include responsive(phone){
                    font-size: .7em;
                }
            }
            &:hover{
                box-shadow: 0 0 8px 2px rgb(248, 226, 190);
                border: 3px solid rgb(230, 221, 207);
            }
        }
    }
}

.btn-login{
    border-radius: 10px;
    color: white;
    background-color: rgb(226, 154, 120);
    border: 2px solid rgb(226, 154, 120);
    cursor: pointer;
    &:hover{
        color: white;
        background-color: rgb(238, 160, 123);
        border: 2px solid rgb(168, 105, 75);
        box-shadow: 0 0 8px 2px rgb(226, 154, 120);
    }
}
.btn-register{
    border-radius: 10px;
    border: 2px solid rgb(226, 154, 120);
    margin-left: 1rem;
    &:hover{
        color: white;
        background-color: rgb(226, 154, 120);
        border: 2px solid rgb(168, 105, 75);
        box-shadow: 0 0 8px 2px rgb(230, 204, 193);
    }
}
.btn-logout{
    @extend .btn-login;
}