body{
    margin: 0;
    font-family: 'Lato', sans-serif;
    background-color: rgba($color: #f8eded, $alpha: 1.0);
}
#main{
    position: relative;
}

.valid-invalid-feedback{
    display: flex;
    justify-content: center;
    .alert{
        position: fixed;
        top: -15vh;
        width: 70%;
        animation: pop-up 5s .2s ease-in-out;
        z-index: 4;
        @include responsive(phone){
            top: -25vh;
        }
        p{
            margin-bottom: 0;
            @include responsive(phone){
                font-size: .7em;
            }
        }
        @keyframes pop-up {
            0%{
                @include responsive(phone){
                    top: -25vh;
                }
                top: -15vh;
            }
            20%{
                top: 5vh;
                @include responsive(phone){
                    top: 3vh;
                }
            }
            90%{
                top: 5vh;
                @include responsive(phone){
                    top: 3vh;
                }
            }
            100%{
                top: -15vh;
                @include responsive(phone){
                    top: -25vh;
                }
            }
        }
        
    }
}

.navbar{
    width: 100%;
    padding: 1.5rem;
    @include responsive(phone){
        padding: .8rem;
    }
    .logo{
        a{
            color: black;
            text-decoration: none;
            font-size: 1.5em;
            font-weight: 600;
            @include responsive(phone){
                font-size: 1em;
            }
            &:hover{
                color: rgb(100, 92, 92);
            }
        }
    }
}

.footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    background-color: rgba($color: #f8eded, $alpha: 1.0);
    bottom: 0;
    padding: 1.5vh 0;
    z-index: 2;
    @include responsive(phone){
        padding: 1vh 0;
    }
    .sosmed{
        .sosmed-logo{
            width: 25px;
            margin: 0 2vw;
            @include responsive(phone){
                width: 20px;
                margin: 0 3vw;
            }
        }
    }
}
.background{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    pointer-events: none;
    z-index: -1;
    span{
        position: absolute;
    }
    :nth-child(1){
        right: -1vw;
        bottom: -110px;
        animation: backgroundAnimate 14s .7s infinite ease-in-out;
        img{
            width: 70px;
            opacity: .7;
            @include responsive(phone){
                width: 50px;
            }
        }
    }
    :nth-child(2){
        right: 25vw;
        bottom: -110px;
        animation: backgroundAnimate 10s 2s infinite ease-in-out;
        img{
            width: 50px;
            opacity: .5;
            @include responsive(phone){
                width: 30px;
            }
        }
    }
    :nth-child(3){
        left: 40vw;
        bottom: -110px;
        animation: backgroundAnimate 15s 0s infinite ease-in-out;
        img{
            width: 90px;
            opacity: .3;
            @include responsive(phone){
                width: 60px;
            }
        }
    }
    :nth-child(4){
        left: 10vw;
        bottom: -110px;
        animation: backgroundAnimate 28s 1s infinite ease-in-out;
        img{
            width: 110px;
            opacity: .6;
            @include responsive(phone){
                width: 20px;
            }
        }
    }
    :nth-child(5){
        left: -1vw;
        bottom: -110px;
        animation: backgroundAnimate 15s 1.5s infinite ease-in-out;
        img{
            width: 80px;
            opacity: .8;
            @include responsive(phone){
                width: 40px;
            }
        }
    }
    :nth-child(6){
        left: 30vw;
        bottom: -110px;
        animation: backgroundAnimate 12s .5s infinite ease-in-out;
        img{
            width: 50px;
            opacity: .9;
            @include responsive(phone){
                width: 30px;
            }
        }
    }
    :nth-child(7){
        right: 45vw;
        bottom: -110px;
        animation: backgroundAnimate 20s 1s infinite ease-in-out;
        img{
            width: 60px;
            opacity: .2;
            @include responsive(phone){
                width: 20px;
            }
        }
    }
    :nth-child(8){
        right: 15vw;
        bottom: -110px;
        animation: backgroundAnimate 15s 1.7s infinite ease-in-out;
        img{
            width: 40px;
            opacity: .4;
            @include responsive(phone){
                width: 50px;
            }
        }
    }
    @keyframes backgroundAnimate {
        0%{
            bottom: -110px;
            transform: rotate(0deg);
        }
        50%{
            bottom: 55vh;
            transform: rotate(175deg);
        }
        100%{
            bottom: -110px;
            transform: rotate(360deg);
        }
    }

}


