body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  background-color: #f8eded;
}

#main {
  position: relative;
}

.valid-invalid-feedback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.valid-invalid-feedback .alert {
  position: fixed;
  top: -15vh;
  width: 70%;
  -webkit-animation: pop-up 5s .2s ease-in-out;
          animation: pop-up 5s .2s ease-in-out;
  z-index: 4;
}

@media only screen and (max-width: 750px) {
  .valid-invalid-feedback .alert {
    top: -25vh;
  }
}

.valid-invalid-feedback .alert p {
  margin-bottom: 0;
}

@media only screen and (max-width: 750px) {
  .valid-invalid-feedback .alert p {
    font-size: .7em;
  }
}

@-webkit-keyframes pop-up {
  0% {
    @media only screen and (max-width: 750px) {
      top: -25vh;
    }
    top: -15vh;
  }
  20% {
    top: 5vh;
    @media only screen and (max-width: 750px) {
      top: 3vh;
    }
  }
  90% {
    top: 5vh;
    @media only screen and (max-width: 750px) {
      top: 3vh;
    }
  }
  100% {
    top: -15vh;
    @media only screen and (max-width: 750px) {
      top: -25vh;
    }
  }
}

@keyframes pop-up {
  0% {
    @media only screen and (max-width: 750px) {
      top: -25vh;
    }
    top: -15vh;
  }
  20% {
    top: 5vh;
    @media only screen and (max-width: 750px) {
      top: 3vh;
    }
  }
  90% {
    top: 5vh;
    @media only screen and (max-width: 750px) {
      top: 3vh;
    }
  }
  100% {
    top: -15vh;
    @media only screen and (max-width: 750px) {
      top: -25vh;
    }
  }
}

.navbar {
  width: 100%;
  padding: 1.5rem;
}

@media only screen and (max-width: 750px) {
  .navbar {
    padding: .8rem;
  }
}

.navbar .logo a {
  color: black;
  text-decoration: none;
  font-size: 1.5em;
  font-weight: 600;
}

@media only screen and (max-width: 750px) {
  .navbar .logo a {
    font-size: 1em;
  }
}

.navbar .logo a:hover {
  color: #645c5c;
}

.footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  background-color: #f8eded;
  bottom: 0;
  padding: 1.5vh 0;
  z-index: 2;
}

@media only screen and (max-width: 750px) {
  .footer {
    padding: 1vh 0;
  }
}

.footer .sosmed .sosmed-logo {
  width: 25px;
  margin: 0 2vw;
}

@media only screen and (max-width: 750px) {
  .footer .sosmed .sosmed-logo {
    width: 20px;
    margin: 0 3vw;
  }
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  pointer-events: none;
  z-index: -1;
}

.background span {
  position: absolute;
}

.background :nth-child(1) {
  right: -1vw;
  bottom: -110px;
  -webkit-animation: backgroundAnimate 14s .7s infinite ease-in-out;
          animation: backgroundAnimate 14s .7s infinite ease-in-out;
}

.background :nth-child(1) img {
  width: 70px;
  opacity: .7;
}

@media only screen and (max-width: 750px) {
  .background :nth-child(1) img {
    width: 50px;
  }
}

.background :nth-child(2) {
  right: 25vw;
  bottom: -110px;
  -webkit-animation: backgroundAnimate 10s 2s infinite ease-in-out;
          animation: backgroundAnimate 10s 2s infinite ease-in-out;
}

.background :nth-child(2) img {
  width: 50px;
  opacity: .5;
}

@media only screen and (max-width: 750px) {
  .background :nth-child(2) img {
    width: 30px;
  }
}

.background :nth-child(3) {
  left: 40vw;
  bottom: -110px;
  -webkit-animation: backgroundAnimate 15s 0s infinite ease-in-out;
          animation: backgroundAnimate 15s 0s infinite ease-in-out;
}

.background :nth-child(3) img {
  width: 90px;
  opacity: .3;
}

@media only screen and (max-width: 750px) {
  .background :nth-child(3) img {
    width: 60px;
  }
}

.background :nth-child(4) {
  left: 10vw;
  bottom: -110px;
  -webkit-animation: backgroundAnimate 28s 1s infinite ease-in-out;
          animation: backgroundAnimate 28s 1s infinite ease-in-out;
}

.background :nth-child(4) img {
  width: 110px;
  opacity: .6;
}

@media only screen and (max-width: 750px) {
  .background :nth-child(4) img {
    width: 20px;
  }
}

.background :nth-child(5) {
  left: -1vw;
  bottom: -110px;
  -webkit-animation: backgroundAnimate 15s 1.5s infinite ease-in-out;
          animation: backgroundAnimate 15s 1.5s infinite ease-in-out;
}

.background :nth-child(5) img {
  width: 80px;
  opacity: .8;
}

@media only screen and (max-width: 750px) {
  .background :nth-child(5) img {
    width: 40px;
  }
}

.background :nth-child(6) {
  left: 30vw;
  bottom: -110px;
  -webkit-animation: backgroundAnimate 12s .5s infinite ease-in-out;
          animation: backgroundAnimate 12s .5s infinite ease-in-out;
}

.background :nth-child(6) img {
  width: 50px;
  opacity: .9;
}

@media only screen and (max-width: 750px) {
  .background :nth-child(6) img {
    width: 30px;
  }
}

.background :nth-child(7) {
  right: 45vw;
  bottom: -110px;
  -webkit-animation: backgroundAnimate 20s 1s infinite ease-in-out;
          animation: backgroundAnimate 20s 1s infinite ease-in-out;
}

.background :nth-child(7) img {
  width: 60px;
  opacity: .2;
}

@media only screen and (max-width: 750px) {
  .background :nth-child(7) img {
    width: 20px;
  }
}

.background :nth-child(8) {
  right: 15vw;
  bottom: -110px;
  -webkit-animation: backgroundAnimate 15s 1.7s infinite ease-in-out;
          animation: backgroundAnimate 15s 1.7s infinite ease-in-out;
}

.background :nth-child(8) img {
  width: 40px;
  opacity: .4;
}

@media only screen and (max-width: 750px) {
  .background :nth-child(8) img {
    width: 50px;
  }
}

@-webkit-keyframes backgroundAnimate {
  0% {
    bottom: -110px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    bottom: 55vh;
    -webkit-transform: rotate(175deg);
            transform: rotate(175deg);
  }
  100% {
    bottom: -110px;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes backgroundAnimate {
  0% {
    bottom: -110px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    bottom: 55vh;
    -webkit-transform: rotate(175deg);
            transform: rotate(175deg);
  }
  100% {
    bottom: -110px;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.header {
  height: 25vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 750px) {
  .header {
    height: 15vh;
  }
}

.header .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .title h1 {
  margin: 0;
  font-weight: 700;
  font-size: 5.5em;
}

@media only screen and (max-width: 750px) {
  .header .title h1 {
    font-size: 2em;
  }
}

.header .title span {
  position: relative;
  top: -15px;
  left: 7px;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

@media only screen and (max-width: 750px) {
  .header .title span {
    top: 0;
    left: 2;
    font-size: .7em;
  }
}

.form-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form-main form {
  width: 70vw;
}

.comment-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1rem 0 15vh 0;
}

.comment-list .comment {
  width: 70vw;
}

.comment-list .comment .comment-body {
  position: relative;
  font-size: 1em;
}

@media only screen and (max-width: 750px) {
  .comment-list .comment .comment-body {
    font-size: .7em;
  }
}

@media only screen and (max-width: 750px) {
  .comment-list .comment .blockquote-footer {
    font-size: .6em;
  }
}

.comment-list .option {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  right: 20px;
  bottom: 15px;
}

.comment-list .option .btn-delete {
  cursor: pointer;
  font-size: 32px !important;
  color: #c24848;
}

@media only screen and (max-width: 750px) {
  .comment-list .option .btn-delete {
    font-size: 20px !important;
  }
}

.comment-list .option .emoji-option {
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin-right: .5rem;
}

@media only screen and (max-width: 750px) {
  .comment-list .option .emoji-option {
    margin-right: .3rem;
    width: 20px;
    height: 20px;
  }
}

.comment-list .floating-tag-option.show {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
  pointer-events: all;
}

@media only screen and (max-width: 750px) {
  .comment-list .floating-tag-option.show {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
}

.comment-list .floating-tag-option {
  position: absolute;
  background-color: white;
  border: 1px solid #a3a3a3;
  border-radius: .5rem;
  bottom: -40px;
  right: 65px;
  z-index: 1;
  opacity: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: .2s ease-in;
  transition: .2s ease-in;
  -webkit-transform-origin: top right;
          transform-origin: top right;
  pointer-events: none;
}

@media only screen and (max-width: 750px) {
  .comment-list .floating-tag-option {
    right: 50px;
    bottom: -30px;
  }
}

.comment-list .floating-tag-option button {
  display: inline;
  margin: .5rem .5rem;
  border: none;
  background-color: white;
  opacity: 1;
}

@media only screen and (max-width: 750px) {
  .comment-list .floating-tag-option button {
    margin: .2rem .2rem;
  }
}

.comment-list .floating-tag-option button .emoji-option {
  width: 27px;
  height: 27px;
}

.main {
  z-index: 3;
}

.form-control {
  border-radius: 0;
  -webkit-box-shadow: -8px 9px 0 -2px #744f4f;
          box-shadow: -8px 9px 0 -2px #744f4f;
  border: 1px solid #e6ddcf;
}

@media only screen and (max-width: 750px) {
  .form-control {
    font-size: .8em;
  }
}

.form-control:focus {
  -webkit-box-shadow: 0 0 8px 2px #f8e2be;
          box-shadow: 0 0 8px 2px #f8e2be;
  border: 3px solid #e6ddcf;
}

.btn-submit {
  color: white;
  background-color: #744f4f;
  border-color: #744f4f;
}

@media only screen and (max-width: 750px) {
  .btn-submit {
    font-size: .75rem;
    padding: .28125rem .5625rem;
  }
}

.btn-submit:hover {
  color: #fff7eb;
}

.card {
  border-radius: 0;
}

.form-group-radio .form-radio {
  display: inline;
  margin: .5rem 1.5rem .5rem 0;
}

@media only screen and (max-height: 600px) {
  .form-group-radio .form-radio {
    margin-right: 0;
  }
}

.form-group-radio .form-radio .emoji {
  cursor: pointer;
  width: 30px;
  height: 30px;
  margin-right: .5rem;
}

.form-group-radio .form-radio input {
  position: absolute;
  opacity: 0;
}

.form-group-radio .form-radio input:checked ~ .emoji {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.form-group-radio .form-radio input:checked ~ .radio-label {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.form-group-radio .form-radio .radio-label {
  cursor: pointer;
  font-size: .8em;
  font-weight: 700;
  color: #221e1e;
  padding: .2rem 1.2em;
  border-radius: .3rem;
}

.form-group-radio .form-radio:hover .emoji {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.form-group-radio .form-radio:hover .radio-label {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.form-group-radio .form-radio:nth-child(2) .radio-label {
  background-color: #e6e65e;
}

.form-group-radio .form-radio:nth-child(3) .radio-label {
  background-color: #e497a5;
}

.form-group-radio .form-radio:nth-child(4) .radio-label {
  background-color: #8ba1df;
}

.form-group-radio .form-radio:nth-child(5) .radio-label {
  background-color: #f87575;
}

.confirm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 80vh;
  position: relative;
  margin-bottom: 3.5rem;
}

@media only screen and (max-width: 750px) {
  .confirm {
    margin-top: 4rem;
  }
}

.confirm .header-confirm h1 {
  font-weight: 700;
  font-size: 4em;
}

@media only screen and (max-width: 750px) {
  .confirm .header-confirm h1 {
    font-size: 2em;
  }
}

.confirm .massage {
  width: 70vw;
  height: 50vh;
  padding: 1rem;
  background-color: white;
  border: 1px solid #ced4da;
  margin-bottom: 1.5rem;
  -webkit-box-shadow: -14px 15px 0 -2px #744f4f;
          box-shadow: -14px 15px 0 -2px #744f4f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

@media only screen and (max-width: 750px) {
  .confirm .massage {
    height: 45vh;
  }
}

.confirm .massage .title {
  position: relative;
  -ms-flex-item-align: start;
      align-self: flex-start;
  left: 20px;
  margin-bottom: 1rem;
}

@media only screen and (max-width: 750px) {
  .confirm .massage .title {
    left: 0;
  }
}

.confirm .massage .title h3 {
  margin: 0;
  font-weight: 700;
  font-size: 3vw;
}

@media only screen and (max-width: 750px) {
  .confirm .massage .title h3 {
    font-size: 1.4em;
  }
}

@media only screen and (max-width: 750px) {
  .confirm .massage .title p {
    font-size: .7em;
  }
}

.confirm .massage .paragraph {
  position: relative;
  display: block;
  height: 40vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 750px) {
  .confirm .massage .paragraph {
    height: 35vh;
  }
}

.confirm .massage .paragraph p {
  font-size: 2vw;
  font-weight: 400;
}

@media only screen and (max-width: 750px) {
  .confirm .massage .paragraph p {
    font-size: 1em;
    text-align: center;
  }
}

.confirm .massage .paragraph span {
  position: absolute;
  font-weight: 700;
  font-size: 7em;
  color: #252323;
}

@media only screen and (max-width: 750px) {
  .confirm .massage .paragraph span {
    font-size: 4em;
  }
}

.confirm .massage .paragraph span:nth-child(1) {
  left: -30px;
  top: -60px;
}

@media only screen and (max-width: 750px) {
  .confirm .massage .paragraph span:nth-child(1) {
    left: -27px;
    top: -35px;
  }
}

.confirm .massage .paragraph span:nth-child(3) {
  right: -30px;
  bottom: -70px;
}

@media only screen and (max-width: 750px) {
  .confirm .massage .paragraph span:nth-child(3) {
    right: -27px;
    bottom: -45px;
  }
}

.confirm .button-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70vw;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.btn-confirm {
  color: white;
  background-color: #578863;
  border-color: #578863;
}

@media only screen and (max-width: 750px) {
  .btn-confirm {
    font-size: .7rem !important;
  }
}

.btn-confirm:hover {
  color: #1b301b;
}

.btn-back {
  color: white;
  background-color: #8b3c3c;
  border-color: #8b3c3c;
}

@media only screen and (max-width: 750px) {
  .btn-back {
    font-size: .7rem !important;
  }
}

.btn-back:hover {
  color: #331414;
}

.landing-header, .accordio-header, .book-header {
  height: 25vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 750px) {
  .landing-header, .accordio-header, .book-header {
    height: 15vh;
    margin-bottom: 1rem;
  }
}

.landing-header h1, .accordio-header h1, .book-header h1 {
  margin: 0;
  font-weight: 700;
  font-size: 5.5em;
}

@media only screen and (max-width: 750px) {
  .landing-header h1, .accordio-header h1, .book-header h1 {
    font-size: 2em;
  }
}

.landing-header h2, .accordio-header h2, .book-header h2 {
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 0;
}

@media only screen and (max-width: 750px) {
  .landing-header h2, .accordio-header h2, .book-header h2 {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 750px) {
  .landing-header span, .accordio-header span, .book-header span {
    font-size: .7em;
  }
}

.landing-body {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 5rem;
}

.landing-body .story-link-list {
  width: 70vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 750px) {
  .landing-body .story-link-list {
    width: 90vw;
  }
}

.landing-body .story-link-list .story-link {
  cursor: pointer;
  width: 100%;
  height: 150px;
  background-color: white;
  border: 1px solid #e6ddcf;
  border-radius: 25pxpx;
  -webkit-box-shadow: -15px 14px 0 -2px #744f4f;
          box-shadow: -15px 14px 0 -2px #744f4f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 1rem;
  -webkit-transition: .2s all ease-in-out;
  transition: .2s all ease-in-out;
}

@media only screen and (max-width: 750px) {
  .landing-body .story-link-list .story-link {
    height: 100px;
    -webkit-box-shadow: -9px 11px 0 -2px #744f4f;
            box-shadow: -9px 11px 0 -2px #744f4f;
  }
}

.landing-body .story-link-list .story-link h3 {
  font-weight: 900;
  font-size: 3em;
}

@media only screen and (max-width: 750px) {
  .landing-body .story-link-list .story-link h3 {
    font-size: 1.5em;
  }
}

@media only screen and (max-width: 750px) {
  .landing-body .story-link-list .story-link span {
    font-size: .7em;
  }
}

.landing-body .story-link-list .story-link:hover {
  -webkit-box-shadow: 0 0 8px 2px #f8e2be;
          box-shadow: 0 0 8px 2px #f8e2be;
  border: 3px solid #e6ddcf;
}

.btn-login, .btn-logout {
  border-radius: 10px;
  color: white;
  background-color: #e29a78;
  border: 2px solid #e29a78;
  cursor: pointer;
}

.btn-login:hover, .btn-logout:hover {
  color: white;
  background-color: #eea07b;
  border: 2px solid #a8694b;
  -webkit-box-shadow: 0 0 8px 2px #e29a78;
          box-shadow: 0 0 8px 2px #e29a78;
}

.btn-register {
  border-radius: 10px;
  border: 2px solid #e29a78;
  margin-left: 1rem;
}

.btn-register:hover {
  color: white;
  background-color: #e29a78;
  border: 2px solid #a8694b;
  -webkit-box-shadow: 0 0 8px 2px #e6ccc1;
          box-shadow: 0 0 8px 2px #e6ccc1;
}

.accordio-header {
  margin-bottom: 0;
}

.accordio-header h1 {
  font-size: 5em;
}

@media only screen and (max-width: 750px) {
  .accordio-header h1 {
    font-size: 1.8em;
  }
}

.accordio-header span {
  position: relative;
  top: -2px;
  left: -282px;
}

@media only screen and (max-width: 750px) {
  .accordio-header span {
    top: 0px;
    left: -67px;
    font-size: .7em;
  }
}

.accordio-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.accordio-main .accordio-list {
  width: 70vw;
  margin-bottom: 4rem;
}

.accordio-main .accordio-list .accordio {
  padding: 1.5rem;
  margin-bottom: 2rem;
  background-color: white;
  border-radius: 1rem;
  cursor: pointer;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: bottom center;
          transform-origin: bottom center;
  border: 1px solid #e6ddcf;
}

@media only screen and (max-width: 750px) {
  .accordio-main .accordio-list .accordio {
    padding: 1rem;
  }
}

.accordio-main .accordio-list .accordio:hover {
  -webkit-box-shadow: 0 0 8px 2px #f8e2be;
          box-shadow: 0 0 8px 2px #f8e2be;
  border: 3px solid #e6ddcf;
}

.accordio-main .accordio-list .accordio .accordio-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.accordio-main .accordio-list .accordio .accordio-title .title {
  width: 100%;
}

.accordio-main .accordio-list .accordio .accordio-title .title h1 {
  font-weight: 600;
}

@media only screen and (max-width: 750px) {
  .accordio-main .accordio-list .accordio .accordio-title .title h1 {
    font-size: 1.2em;
    margin: 0;
  }
}

.accordio-main .accordio-list .accordio .accordio-title .title span {
  font-weight: 600;
}

@media only screen and (max-width: 750px) {
  .accordio-main .accordio-list .accordio .accordio-title .title span {
    font-size: .8em;
  }
}

.accordio-main .accordio-list .accordio .accordio-title .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.accordio-main .accordio-list .accordio .accordio-title .button button {
  background-color: white;
  border: none;
  padding: 0 6px 0 0;
}

.accordio-main .accordio-list .accordio .accordio-title .button button:focus {
  outline: none !important;
}

.accordio-main .accordio-list .accordio .accordio-title .button button img.up {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

@media only screen and (max-width: 750px) {
  .accordio-main .accordio-list .accordio .accordio-title .button button img.up {
    width: 1.8em;
  }
}

.accordio-main .accordio-list .accordio .accordio-title .button button img.down {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

@media only screen and (max-width: 750px) {
  .accordio-main .accordio-list .accordio .accordio-title .button button img.down {
    width: 1.8em;
  }
}

.accordio-main .accordio-list .accordio .accordio-body {
  display: block;
  overflow: hidden;
  max-height: 0;
  -webkit-transform-origin: top center;
          transform-origin: top center;
  -webkit-transition: all 1s 0s ease-in-out;
  transition: all 1s 0s ease-in-out;
}

@media only screen and (max-width: 750px) {
  .accordio-main .accordio-list .accordio .accordio-body p {
    font-size: .7em;
  }
}

.accordio-main .accordio-list .accordio .accordio-body.show {
  max-height: 500px;
}

.accordio-main .accordio-list .accordio.popUp {
  -webkit-animation: popUpAcordion .5s .6s ease-in forwards;
          animation: popUpAcordion .5s .6s ease-in forwards;
}

@-webkit-keyframes popUpAcordion {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  40% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes popUpAcordion {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  40% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

.book-header {
  margin-bottom: 0;
}

.book-header h1 {
  font-size: 5em;
}

@media only screen and (max-width: 750px) {
  .book-header h1 {
    font-size: 1.8em;
  }
}

.book-header span {
  position: relative;
  top: -2px;
  left: -195px;
}

@media only screen and (max-width: 750px) {
  .book-header span {
    top: 0px;
    left: -27px;
    font-size: .7em;
  }
}

.book-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.book-main .book-search {
  width: 70vw;
}

.book-main .book-search h1 {
  font-weight: 600;
}

@media only screen and (max-width: 750px) {
  .book-main .book-search h1 {
    font-size: 1.5rem;
  }
}

.book-main .book-search .input-group input {
  height: 2.5rem;
}

@media only screen and (max-width: 750px) {
  .book-main .book-search .input-group input {
    height: calc(1.5em + .75rem + 2px);
  }
}

.book-main .leaderboard {
  width: 70vw;
}

.book-main .leaderboard .btn-leaderboard {
  width: 100%;
  background-color: #774c3e;
  border: 1px solid #412922;
  color: white;
  border-radius: 1rem;
}

.book-main .leaderboard .btn-leaderboard:hover {
  background-color: #c79d8f;
  color: white;
  border: 2px solid #ebdbd6;
}

.book-main .book-list {
  width: 70vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 4rem;
}

.book-main .book-list .card {
  background-color: white;
  margin: 1rem .5vw;
  width: 15.8rem;
  border-radius: .3rem;
  position: relative;
}

@media only screen and (max-width: 750px) {
  .book-main .book-list .card {
    width: 100%;
    border-radius: .5rem;
  }
}

.book-main .book-list .card .card-img {
  height: 334px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-right-radius: .3rem;
  border-top-left-radius: .3rem;
}

@media only screen and (max-width: 750px) {
  .book-main .book-list .card .card-img {
    border-top-right-radius: .5rem;
    border-top-left-radius: .5rem;
  }
}

.book-main .book-list .card .card-body {
  margin-top: 1rem;
  padding: 1rem 2rem 2rem 1rem;
}

.book-main .book-list .card .card-body h5 {
  margin-bottom: 0;
}

.book-main .book-list .card .card-body span {
  display: block;
  font-size: .8rem;
  color: #837272;
}

.book-main .book-list .card .card-body .like {
  color: #c45757;
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 1.5rem;
  z-index: 1;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

.book-main .book-list .card .card-body .like:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.book-main .book-list .card .card-body .flying-like {
  position: absolute;
  bottom: 13px;
  right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
}

.book-main .book-list .card .card-body .flying-like .like-number {
  color: #c45757;
  font-size: 1.5rem;
  margin-right: .3rem;
}

.book-main .book-list .card .card-body .flying-like .like-full {
  color: #c45757;
  font-size: 1.5rem;
}

.book-main .book-list .card .card-body .flying-like.show {
  -webkit-animation: plusShow .6s ease-in;
          animation: plusShow .6s ease-in;
}

@-webkit-keyframes plusShow {
  40% {
    opacity: 1;
    right: 44px;
  }
  60% {
    opacity: 1;
    right: 56px;
  }
  100% {
    right: 80px;
    opacity: 0;
  }
}

@keyframes plusShow {
  40% {
    opacity: 1;
    right: 44px;
  }
  60% {
    opacity: 1;
    right: 56px;
  }
  100% {
    right: 80px;
    opacity: 0;
  }
}

.book-main .modal-body .leaderboard-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: .5rem;
  margin: .5rem;
  width: 100%;
  border-radius: .25rem;
  background-color: 204;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.book-main .modal-body .leaderboard-card .leaderboard-img {
  width: 50px;
  height: 50px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.book-main .modal-body .leaderboard-card .leaderboard-title {
  margin-left: .5rem;
  font-size: 1.5em;
}

.book-main .modal-body .leaderboard-card .leaderboard-like {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  right: .7rem;
}

.book-main .modal-body .leaderboard-card .leaderboard-like span {
  font-size: 1.5em;
}

.book-main .modal-body .leaderboard-card .leaderboard-like span.material-icons {
  color: #c45757;
}

.login, .register {
  height: 80vh;
  margin: 0 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 4rem;
}

@media only screen and (max-width: 750px) {
  .login, .register {
    margin: 0 1rem;
  }
}

.login .login-register-floating-box, .register .login-register-floating-box {
  width: 70%;
  background: white;
  border-radius: 5vh;
  padding: 4rem;
}

@media only screen and (max-width: 750px) {
  .login .login-register-floating-box, .register .login-register-floating-box {
    width: 100%;
    border-radius: 3vh;
    padding: 2rem;
  }
}

.login .login-register-floating-box .login-register-header, .register .login-register-floating-box .login-register-header {
  margin-bottom: 1.2rem;
}

@media only screen and (max-width: 750px) {
  .login .login-register-floating-box .login-register-header, .register .login-register-floating-box .login-register-header {
    margin-bottom: .5rem;
  }
}

.login .login-register-floating-box .login-register-header .title, .register .login-register-floating-box .login-register-header .title {
  font-size: 2.7rem;
  font-weight: 800;
  margin-bottom: -5px;
}

@media only screen and (max-width: 750px) {
  .login .login-register-floating-box .login-register-header .title, .register .login-register-floating-box .login-register-header .title {
    font-size: 2rem;
  }
}

.login .login-register-floating-box .login-register-header span, .register .login-register-floating-box .login-register-header span {
  font-size: 1.5rem;
  font-weight: 300;
}

@media only screen and (max-width: 750px) {
  .login .login-register-floating-box .login-register-header span, .register .login-register-floating-box .login-register-header span {
    font-size: 1rem;
  }
}

.login .login-register-floating-box .login-register-form form .alert-danger ul, .register .login-register-floating-box .login-register-form form .alert-danger ul {
  list-style: none;
}

@media only screen and (max-width: 750px) {
  .login .login-register-floating-box .login-register-form form .alert-danger ul li, .register .login-register-floating-box .login-register-form form .alert-danger ul li {
    font-size: .7rem;
  }
}

small.form-text {
  margin-top: .5rem;
}

ul {
  padding-left: 0;
}

.register {
  height: auto;
}

@media only screen and (max-width: 750px) {
  .register {
    margin-top: 2rem;
    margin-bottom: 5rem;
  }
}

p.invalid-feedback {
  margin-bottom: 0;
}
/*# sourceMappingURL=app.css.map */