{% extends 'layout.html' %}
{% load static %}

{% block title %}Welcome{% endblock title %}

{% block body %}
    <div class="landing-header">
        <h1 class="title">Selamat Datang</h1>
        <h2>{% if user.is_authenticated %} Halo {{ user.username }}! {% else %} Login untuk melihat lebih lanjut! {% endif %}</h2>
        <span>Ini adalah website Bintang Dominique</span>
    </div>
    <div class="landing-body">
        <div class="story-link-list">
        {% if user.is_authenticated %}
            <div class="story-link" onclick="location.href='{% url 'commentSection:index' %}'">
                <h3>Komentar</h3>
                <span>Comment Section</span>
            </div>
            <div class="story-link" onclick="location.href='{% url 'accordio:index' %}'">
                <h3>STORY 7</h3>
                <span>Accordion (Js/Jquery)</span>
            </div>
            <div class="story-link" onclick="location.href='{% url 'book:index' %}'">
                <h3>STORY 8</h3>
                <span>Book (Ajax/WebService)</span>
            </div>
        {% endif %}
            <div class="story-link" onclick="location.href='{% if user.is_authenticated%}{% url 'landingpage:logout' %}{% else %}{% url 'landingpage:login' %}{% endif %}'">
                <h3>STORY 9</h3>
                <span>{% if user.is_authenticated %}Logout Here!{% else %}Login and Register Here!{% endif %}</span>
            </div>
        </div>
    </div>
{% endblock body %}
