{% extends 'layout.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Login{% endblock title %}

{% block body %}
    <div class="login">
        <div class="login-register-floating-box">
            <div class="login-register-header">
                <h1 class="title">Login</h1>
                <span>login untuk melihat lebih lanjut</span>
            </div>
            <div class="login-register-form">
                <form method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-submit">Login</button>
                </form>
                <hr>
                <div class="other-choice">
                    <span>belum punya akun? Register <a href="{% url 'landingpage:register' %}">disini</a></span>
                    <div class="google-OAuth2">
                    </div>
                <div>
            </div>
        </div>
    </div>
{% endblock body %}