{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="icon" href="{% static 'img/logo.png' %}">
    <!-- Bootstrapt -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
    <!-- Font -->
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap" rel="stylesheet">
    <!-- icon -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
    <div id="main">
        <div class="valid-invalid-feedback">
        {% if messages %}
        {% for message in messages %}
        <div class="alert {% if message.tags %}alert-{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}" role="alert">
            <h5>{% if message.tags %}{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Yah Error
                {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}Yeay Berhasil!!{% endif %}{% endif %}</h5>
                <p class="ml-2 feedback">{{ message }}</p>
            </div>
            {% endfor %}
            {% endif %}
        </div>
        <section class="navbar">
            <div class="logo"><a href="{% url 'landingpage:index' %}">STARDOM.</a></div>
            <div class="login-logout">
                {% if user.is_authenticated %}
                <button class="btn btn-logout" onclick="location.href='{% url 'landingpage:logout'%}'">Log Out</button>
                {% else %}
                <button class="btn btn-login" onclick="location.href='{% url 'landingpage:login'%}'">Log In</button>
                <button class="btn btn-register" onclick="location.href='{% url 'landingpage:register'%}'">Register</button>
                {% endif %}
            </div>
        </section>

        <section class="main">
            {% block body %}
            
            {% endblock body %}
        </section>
        <section class="footer">
            <div class="sosmed">
                <a href="https://www.instagram.com/kendalljenner/?hl=ens"><img src="{% static 'img/instagram.png' %}" class='sosmed-logo'></a>
                <a href="http://line.me/ti/p/~markasyours"><img src="{% static 'img/line.png' %}" class='sosmed-logo'></a>
                <a href="https://www.linkedin.com/in/bintang-dominique-ba0667196/"><img src="{% static 'img/linkedin.png' %}" class='sosmed-logo'></a>
            </div>
        </section>
        
        <section class="background">
            <span><img src="{% static 'img/Emoji/' %}" class="emoji-background" alt=""></span>
            <span><img src="{% static 'img/Emoji/' %}" class="emoji-background" alt=""></span>
            <span><img src="{% static 'img/Emoji/' %}" class="emoji-background" alt=""></span>
            <span><img src="{% static 'img/Emoji/' %}" class="emoji-background" alt=""></span>
            <span><img src="{% static 'img/Emoji/' %}" class="emoji-background" alt=""></span>
            <span><img src="{% static 'img/Emoji/' %}" class="emoji-background" alt=""></span>
            <span><img src="{% static 'img/Emoji/' %}" class="emoji-background" alt=""></span>
            <span><img src="{% static 'img/Emoji/' %}" class="emoji-background" alt=""></span>
        </section>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.0.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="{% static 'js/app.js' %}"></script>
</body>
</html>