{% extends 'layout.html' %}

{% block title %}Confirm{% endblock title %}

{% block body %}
    <div class="confirm">
        <div class="header-confirm">
            <h1>Konfirmasi Pesan !!</h1>
        </div>
        <div class="massage">
            <div class="title">
                <h3>Haiiii {{ form.nama }}!</h3>
                <p>Apakah kamu yakin ingin memasukkan komentar berikut?</p>
            </div>
            <div class="paragraph">
                <span>❛❛</span>
                <div>
                    <p>{{ form.komentar }}</p>
                </div>
                <span>❜❜</span>
            </div>
        </div>
        <div class="button-card">
            <form action="" method="post" id="not_btn">
                {% csrf_token %}
                <input type="hidden" name="confirm" value="false">
                <button type="submit" class="btn btn-back">Kembali</button>
            </form>
            <form action="" method="post"  id="yes_btn">
                {% csrf_token %}
                <input type="hidden" name="nama" value="{{ form.nama }}">
                <input type="hidden" name="komentar" value="{{ form.komentar }}">
                <input type="hidden" name="color" value="{{form.color}}">
                <input type="hidden" name="confirm" value="true">
                <button type="submit" class="btn btn-confirm">Lanjutkan</button>
            </form>
        </div>
    </div>
{% endblock body %}