{% extends 'layout.html' %}
{% load static %}

{% block title %}Comment Section{% endblock title %}

{% block body %}
    <div class="header">
        <div class="title">
            <h1>Komentar </h1>
            <span> Fitur Bagus Nih Kawan</span>
        </div>
    </div>
    <div class="form-main">
        <form action="/create" method="get">
            <div class="form-group">
                <label for="name">Nama</label>
                <input type="text" class="form-control" id="name" placeholder="Silahkan masukkan nama anda" autocomplete="off" name="nama" required />
            </div>
            <div class="form-group">
                <label for="comment">Komentar</label>
                <textarea name="komentar" class="form-control" rows="3" id="comment" placeholder="Berikan komentar mu disini!!" required></textarea>
            </div>
           <div class="form-group form-group-radio">
             <div class="label">
               <label>Pilih Tag Komentar Anda</label>
             </div>
             <div class="form-radio">
               <input class="radio-btn" id="smiley" type="radio" name="color" value="#e6e65e">
               <img src="{% static 'img/Emoji/9.png' %}" alt="" class="emoji">
               <label class="radio-label" for="smiley">Smile</label>
              </div>
              <div class="form-radio">
                <input class="radio-btn" id="kiss" type="radio" name="color" value="#e497a5">
                <img src="{% static 'img/Emoji/1.png' %}" alt="" class="emoji">
                <label class="radio-label" for="kiss">Kiss</label>
              </div>
              <div class="form-radio">
                <input class="radio-btn" id="sad" type="radio" name="color" value="#8ba1df">
                <img src="{% static 'img/Emoji/8.png' %}" alt="" class="emoji">
                <label class="radio-label" for="sad">Sad</label>
              </div>
              <div class="form-radio">
                <input class="radio-btn" id="mad" type="radio" name="color" value="#f87575">
                <img src="{% static 'img/Emoji/7.png' %}" alt="" class="emoji">
               <label class="radio-label" for="mad">Angry</label>
             </div>
           </div>
            <button type="submit" class="btn btn-submit">Submit</button>
        </form>
    </div>
    <div class="comment-list">
        <div class="comment">
          {% for comment in commentList %}
            <div class="card my-4" style="box-shadow: -8px 9px 0 -2px {{comment.color}};">
                <div class="card-body">
                  <blockquote class="blockquote mb-0">
                    <p class="comment-body">{{comment.komentar}}</p>
                    <footer class="blockquote-footer">{{comment.nama}}</footer>
                    <div class="option">
                      <img class="emoji-option" src="{% static 'img/Emoji/' %}{% if comment.color == '#e6e65e' %}9.png{% elif comment.color == '#e497a5' %}1.png{% elif comment.color == '#8ba1df' %}8.png{% elif comment.color == '#f87575' %}7.png{% else %}3.png{% endif %}" alt="">
                      <span class="material-icons danger btn-delete" onclick="deleteId({{comment.id}})" data-toggle="modal" data-target="#DeleteModal">delete_outline</span>
                    </div>
                    <div class="floating-tag-option" id="floating{{comment.id}}">
                      <form action="" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="id" value="{{comment.id}}">
                        <button type="submit" name="color" value="#e6e65e"><img src="{% static 'img/Emoji/9.png' %}" class="emoji-option" alt=""></button>
                        <button type="submit" name="color" value="#e497a5"><img src="{% static 'img/Emoji/1.png' %}" class="emoji-option" alt=""></button>
                        <button type="submit" name="color" value="#8ba1df"><img src="{% static 'img/Emoji/8.png' %}" class="emoji-option" alt=""></button>
                        <button type="submit" name="color" value="#f87575"><img src="{% static 'img/Emoji/7.png' %}" class="emoji-option" alt=""></button>
                      </form>
                    </div>
                  </blockquote>
                </div>
            </div>
          {% endfor %}
        </div>
    </div>

    <div class="confirm-modal">  
      <!-- Modal -->
      <div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="DeleteModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Anda yakin?</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              Apakah kamu yakin ingin menghapus komentar ini?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Kembali</button>
              <form action="" method="post" id="deleteForm">
                {% csrf_token %}
                <input type="hidden" id="deleteId" name="deleteId" value="">
                <button type="submit" class="btn btn-danger">Hapus</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endblock body %}
