{% extends 'layout.html' %}
{% load static %}

{% block title %}Accordio{% endblock title %}

{% block body %}
    <div class="accordio-header">
        <h1 class="title">Mengenal Istilah Virus Corona</h1>
        <span>Story 7 Bintang Dominique</span>
    </div>
    <div class="accordio-main">
        <div class="accordio-list">
            <div class="accordio">
                <div class="accordio-title">
                    <div class="title">
                        <h1> Social Distancing</h1>
                        <span>Apa itu Social distancing</span>
                    </div>
                    <div class="button">
                        <button type="button" class="button-up"><img src="{% static 'img/arrow.png' %}" class="up" alt=""></button>
                        <button type="button" class="button-down"><img src="{% static 'img/arrow.png' %}" class="down" alt=""></button>
                    </div>
                </div>
                <div class="accordio-body show">
                    <p>Menurut Centers for Disease Control and Prevention (CDC), arti istilah ‘social distancing’ atau ‘pembatasan sosial’ adalah menghindari tempat umum, menjauhi keramaian, dan menjaga jarak optimal 2 meter dari orang lain. Dengan adanya jarak, penyebaran penyakit ini diharapkan dapat berkurang. </p>
                </div>
            </div>
            <div class="accordio">
                <div class="accordio-title">
                    <div class="title">
                        <h1>Lockdown</h1>
                        <span>Apa itu Lockdown</span>
                    </div>
                    <div class="button">
                        <button type="button" class="button-up"><img src="{% static 'img/arrow.png' %}" class="up" alt=""></button>
                        <button type="button" class="button-down"><img src="{% static 'img/arrow.png' %}" class="down" alt=""></button>
                    </div>
                </div>
                <div class="accordio-body">
                    <p>Istilah ‘lockdown’ berarti karantina wilayah, yaitu pembatasan pergerakan penduduk dalam suatu wilayah, termasuk menutup akses masuk dan keluar wilayah. Penutupan jalur keluar masuk serta pembatasan pergerakan penduduk ini dilakukan untuk mengurangi kontaminasi dan penyebaran penyakit COVID-19.</p>
                </div>
            </div>
            <div class="accordio">
                <div class="accordio-title">
                    <div class="title">
                        <h1> Herd immunity</h1>
                        <span>Apa itu  Herd immunity</span>
                    </div>
                    <div class="button">
                        <button type="button" class="button-up"><img src="{% static 'img/arrow.png' %}" class="up" alt=""></button>
                        <button type="button" class="button-down"><img src="{% static 'img/arrow.png' %}" class="down" alt=""></button>
                    </div>
                </div>
                <div class="accordio-body">
                    <p>Secara harfiah, istilah ‘herd immunity’ berarti kekebalan kelompok. Herd immunity terhadap suatu penyakit bisa dicapai dengan pemberian vaksin secara meluas atau bila sudah terbentuk kekebalan alami pada sebagian besar orang dalam suatu kelompok setelah mereka terpapar dan sembuh dari penyakit tersebut.</p>
                </div>
            </div>
            <div class="accordio">
                <div class="accordio-title">
                    <div class="title">
                        <h1>OTG</h1>
                        <span>Apa itu OTG</span>
                    </div>
                    <div class="button">
                        <button type="button" class="button-up"><img src="{% static 'img/arrow.png' %}" class="up" alt=""></button>
                        <button type="button" class="button-down"><img src="{% static 'img/arrow.png' %}" class="down" alt=""></button>
                    </div>
                </div>
                <div class="accordio-body">
                    <p>OTG merupakan istilah yang digunakan untuk orang yang positif terinfeksi virus Corona tetapi tidak mengalami gejala atau gejalanya sangat ringan. OTG tetap harus melakukan isolasi mandiri di rumah selama 14 hari, dipantau melalui telepon oleh petugas pemantau, dan melakukan kontrol setelah 14 hari isolasi mandiri.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}